version: '3'
services:
  postgres:
    image: "postgres"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=root   
      - POSTGRES_HOST_AUTH_METHOD=trust   
    ports:
      - "5434:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql  

  pgadmin-compose:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "c.oliveiradev@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "123456"
    ports:
      - "8081:80"
    depends_on:
      - postgres